@charset "UTF-8";
body {
  font-family: "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Arial, sans-serif;
  color: #313131;
  font-size: 14px;
  background: #fff;
}

.main-container {
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
}

.main-container.top {
  padding-top: 25px;
}

.main-wrapper {
  width: 980px;
}

.main-wrapper .content {
  width: 96%;
}

.main-wrapper .content .middle {
  background-color: #e3fccb;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #acde7a;
}

.main-wrapper .content .middle-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-clip: border-box;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

.main-wrapper .content .middle-arrow .li-font {
  background-color: #fcfd86;
  font-weight: 700;
}

.main-wrapper .content .middle-arrow .arrow-border {
  border-collapse: collapse;
  border: 0px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.main-wrapper .content .middle-arrow .arrow-border ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.main-wrapper .content .middle-arrow .arrow {
  position: relative;
  height: 130px;
  margin: 0 15px;
}

.main-wrapper .content .middle-arrow .arrow::after {
  content: "";
  display: block;
  border-top: 50px solid #819ff7;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

.main-wrapper .content .middle-arrow .arrow::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 105px;
  background: #819ff7;
}

.main-wrapper .content .middle-arrow .arrowj {
  position: absolute;
  left: 37%;
  top: 20%;
  color: #fff;
}

.main-wrapper .content .middle-arrow table,
.main-wrapper .content .middle-arrow table td,
.main-wrapper .content .middle-arrow table th {
  table-layout: fixed;
  border-collapse: collapse;
  border: solid 1px #ccc;
  padding: 10px;
  background-color: #fffed0;
  vertical-align: baseline;
}

.main-wrapper .content .middle-arrow table .arrow-td {
  border-top: none;
}

.main-wrapper .content .middle-arrow table .arrow-td a {
  color: #38b0b8;
  text-decoration: underline;
}

.main-wrapper .content .middle-arrow .arrow-td-1 {
  border-bottom: none;
  width: 50%;
}

.main-wrapper .content .middle .middle-note .note-1 {
  background-color: #e6ffe9;
  border: solid 1px #8db423;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  font-weight: bold;
}

.main-wrapper .content .middle .middle-note .note-2 {
  padding: 20px;
  width: 90%;
}

.main-wrapper .content .note-top {
  margin-top: 30px;
}

.sidebar-wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-wrapper,
.sidebar-wrapper {
  float: left;
}

.flex,
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.red {
  color: #ff0000;
}

.blue {
  color: #38b0b8;
}

.center {
  text-align: center;
}

.mgt20 {
  margin-top: 20px;
}

.w30 {
  width: 30%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100% !important;
}

a {
  text-decoration: none;
  color: #323232;
}

li {
  list-style: none;
}

/* menu */
.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  background: #85cd69;
}

nav {
  width: 100%;
  overflow: hidden;
  display: block;
  background: #85cd69;
}

nav ul {
  width: 100%;
  margin: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li {
  width: calc(1230px / 8);
  border-left: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

nav ul li:last-child {
  border-right: 1px solid #fff;
}

nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  line-height: 45px;
}

nav a :hover {
  background-color: #fff;
  color: #a7d28d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* sidebar  */
.sidebar-wrapper {
  background: #e8e8e8;
  line-height: 20px;
  padding: 0;
  position: absolute;
  right: 0%;
  height: 100%;
  z-index: 10;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0 -2px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0 -2px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.sidebar-wrapper .sidebar-content ul {
  list-style: none;
}

.sidebar-wrapper .sidebar-content ul li {
  padding-left: 35px !important;
  position: relative;
}

.sidebar-wrapper .sidebar-content ul li::before {
  content: "";
  background-image: url(../img/sort-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 39%;
  left: 12px;
  width: 15px;
  height: 100%;
  position: absolute;
  display: block;
}

.sidebar-wrapper .sidebar-content ul li,
.sidebar-wrapper .sidebar-title {
  padding: 20px 15px;
  border-bottom: 1px solid #fff;
}

.sidebar-wrapper .sidebar-content-2 {
  padding: 20px 15px;
}

.sidebar-wrapper .sidebar-content-2 > div:first-child > div:first-child {
  width: 70%;
}

.sidebar-wrapper .sidebar-content-2 .side-c {
  padding: 10px 0;
}

.sidebar-wrapper .sidebar-content-2 .flex div:first-child {
  width: 140px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #acde7a;
  padding: 10px 0;
  background-clip: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb .brc-note {
  text-align: center;
  padding: 0 10px;
  font-weight: bold;
}

.breadcrumb .arrow-border {
  padding: 1%;
  border-collapse: collapse;
  border: 0px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb .arrow {
  position: relative;
  height: 130px;
}

.breadcrumb .arrow::after {
  content: "";
  display: block;
  border-top: 50px solid #819ff7;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

.breadcrumb .arrow::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 105px;
  background: #819ff7;
}

.breadcrumb .arrowj {
  position: absolute;
  left: 37%;
  top: 20%;
  color: #fff;
}

.breadcrumb .stepnav ol {
  border-right: solid 1px #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.breadcrumb .stepnav ol li {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #323232;
  font-size: 16px;
  background-color: #f9f9f9;
  font-weight: bold;
  border: solid 1px #cccccc;
  padding: 11px 7px 11px 27px;
}

.breadcrumb .stepnav ol li:not(:last-child):before {
  content: "";
  position: absolute;
  top: -1px;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 24px solid #cccccc;
  z-index: 10;
}

.breadcrumb .stepnav ol li.current {
  background-color: #fdfd94;
  color: #323232;
}

.breadcrumb .stepnav ol li.current:after {
  border-left: 24px solid #fdfd94 !important;
}

.breadcrumb .stepnav ol li:not(:last-child):after {
  content: "";
  position: absolute;
  top: -1px;
  right: -24px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 24px solid #f9f9f9;
  z-index: 10;
}

.breadcrumb .stepnav ol li:last-child {
  padding-right: 30px;
}

.main-content {
  margin-top: 30px;
}

.main-content .item-p {
  border: solid 1px #8db423;
  margin: 30px auto;
}

.main-content #togle01 {
  margin-top: 0;
}

.main-content .title a {
  text-decoration: underline;
  color: #2e79ca;
}

.main-content .title {
  background-color: #e3fccb;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 16px;
}

.main-content .item-inner {
  padding: 30px;
}

.main-content .item-inner .description {
  padding: 15px 10px;
  font-size: 16px;
}

.main-content .item-inner:not(:last-child) {
  border-bottom: 2px dashed #8db423;
  padding-bottom: 30px;
  padding-top: 30px;
}

.main-content .item-inner .paper {
  border: solid 1px #d8d8d8;
}

.main-content .item-inner .paper .title-inner {
  color: #2b79af;
  background-color: #b1dde8;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
}

.main-content .item-inner .paper .paper-middle {
  background-color: #def2ec;
  padding: 15px;
  font-size: 16px;
}

.main-content .item-inner .paper .title-inner-2 {
  background-color: #e6e6e6;
  font-size: 16px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .item-inner .paper .title-inner-2 .mo1 {
  background-color: #a4a4a4;
  font-size: 18px;
  color: white;
  margin-right: 15px;
}

.main-content .item-inner .paper .title-j {
  color: blue;
  text-align: center;
  font-size: 40px;
}

.main-content .item-inner .paper .note-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.border-1 {
  -webkit-box-shadow: 0 0 6px #808080;
          box-shadow: 0 0 6px #808080;
  border: solid 0px;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
}

.border-01 {
  width: 500px;
  border: 2px dashed #77b556;
  background-color: #e3fccb;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px 15px;
}

.border-01.red-color {
  color: red;
}

.border-02 {
  padding: 10px 15px;
  border: 3px solid #8accdf;
  background-color: #fff;
}

.border-03 {
  border: solid 1px #000;
  padding: 15px;
}

.border-04 {
  background-color: #e0f2f7;
  border: solid 3px #81bef7;
  padding: 15px;
}

.border-05 {
  padding: 10px;
  color: #555;
  font-size: 16px;
  background: #fff;
  border: solid 2px #8db423;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  width: 80%;
}

.border-06 {
  border: 2px dashed #77b556;
  background-color: #e3fccb;
  font-weight: 700;
  padding: 10px;
}

.border-07 {
  border: solid 1px #ccc;
  background-color: #e6e6e6;
  padding: 10px;
  display: inline-block;
}

.border-4 {
  border: solid 2px #87c5e5;
  background: #fff;
  font-size: 16px;
  padding: 10px;
  margin: 20px 0;
  font-weight: bold;
}

.border-5 {
  border: solid 2px #ff7171;
  background: #fff;
  font-size: 16px;
  margin: 20px 0;
  font-weight: bold;
  padding: 10px;
}

.border-6 {
  border: solid 2px #ccc;
  background: #fff;
  font-size: 16px;
  margin: 20px 0;
  font-weight: bold;
  padding: 10px;
}

.border-7 {
  border: solid 3px #81bef7;
  font-size: 18px;
  padding: 10px;
  margin: 20px 0;
}

.border-8 {
  background-color: #fff;
  width: 400px;
  font-size: 18px;
  border: 1px #ccc solid;
  text-align: center;
  margin: 20px 0;
}

.border-9 {
  padding: 10px;
  border: solid 1px #ccc;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px 0;
}

.content-01 {
  border: solid 0px #8db423;
  background: #f0dbdc;
  padding: 10px;
}

.content-view {
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 15px;
}

.btn {
  height: 80px;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-01 {
  background-color: #fcfd86;
  font-size: 18px;
  border: solid 1px #000000;
  text-align: center;
  padding: 15px 20px;
}

.btn-02 {
  padding: 15px 20px !important;
}

.btn-09 {
  height: 50px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.wrap-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrap-3 > div {
  width: 50%;
}

.wrap-3 > div img {
  width: 100%;
}

.wrap-02 {
  margin: 30px auto;
}

.wrap-03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap-04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.table-o {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.table-o table,
.table-o table th,
.table-o table td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  padding: 10px;
}

.table-o.b2px table,
.table-o.b2px table th,
.table-o.b2px table td {
  border: 2px solid #000000;
}

.table-o table th {
  text-align: center;
}

.table-01 table {
  border: solid 1px #fff;
}

.table-01 table th,
.table-01 table td {
  border: solid 1px #fff;
}

.table-01 .td0 {
  border: none;
}

.table-01 .td1 {
  font-weight: 700;
  color: #fff;
  background-color: #5882fa;
}

.table-01 .td3 {
  background-color: #a9bcf5;
}

.table-01 .td4 {
  background-color: #e0e6f8;
}

.table-01 .td5 {
  color: #fff;
  background-color: #ff8000;
}

.table-01 .td6 {
  background-color: #faac58;
}

.table-01 .td7 {
  background-color: #f5d0a9;
}

.table-02 table th {
  background-color: #e6ffe9;
}

.table-02 table .td0 {
  border: none;
}

.table-02 table .tdr {
  border-right: none;
}

.table-02 table .td1 {
  border-collapse: collapse;
  background-color: #a9bcf5;
}

.table-02 table .td2 {
  background-color: #edf5b8;
  border: 2px solid;
}

.table-02 table .td3 {
  border-collapse: collapse;
  border-top: none;
  border-bottom: none;
  width: 40px;
}

.table-02 table .td4 {
  font-size: 16px;
  background-color: #fcfdba;
  text-align: center;
  border-bottom: none;
}

.table-02 table .td5 {
  background-color: #bdbdbd;
}

.table-02 table .td6 {
  background-color: #c0d6b9;
}

.table-02 table .td7 {
  background-color: #dafccf;
}

.table-03 table {
  background-color: #e3fccb;
}

.table-04 table th,
.table-04 table td {
  background-color: #e3fccb;
}

.table-04 table .td1 {
  background-color: #f5e9b8;
}

.table-04 a {
  color: blue;
  text-decoration: underline;
}

.table-05 table,
.table-05 table td,
.table-05 table th {
  border: 1px solid #8db423;
}

.table-05 th {
  background-color: #e6ffe9;
}

.table-05 .flow-td-a {
  position: relative;
}

.table-05 .flow-td-c {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  border: solid 1px #000000;
  border-bottom: 0px solid;
  border-right: 0px solid;
  background-color: #e6ffe9;
  padding: 10px;
  width: 100px;
  text-align: center;
}

.table-05 .td1 {
  background-color: #cdd7f6;
}

.table-06 th {
  background-color: #e8f9da;
  text-align: center;
}

.table-06 .td1 {
  background-color: #f8edee;
}

.table-06 .td2 {
  background-color: #f0dbdc;
  font-weight: 700;
  color: red;
  text-align: center;
}

.table-06 .td3 {
  background-color: #f6f1dc;
  text-align: center;
}

.table-06 .td4 {
  background-color: #edf5b8;
  text-align: center;
}

.table-06 .td7 {
  background-color: #b1dde8;
  text-align: center;
  font-weight: 700;
}

.table-06 .tr1 {
  background: #eeeeee;
  text-align: center;
}

.table-06 .tr2 {
  border: 2px dashed red;
  background-color: #fcfdba;
  text-align: center;
}

.table-06 .tr3 {
  background-color: #fae6e9;
  text-align: center;
}

.table-06 .tr4 {
  background-color: #fcfdba;
}

.table-06 a {
  color: #4390cc;
  text-decoration: underline;
}

.table-07 table th {
  font-weight: bold;
}

.table-07 .td1 {
  background-color: #ddd;
}

.table-07 .td3 {
  background-color: #f8e0ec;
}

.imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.wrap-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrap-inner > div {
  width: 50%;
  margin: 0 10px;
}

.table-bottom table {
  width: 80%;
}

.table-bottom table,
.table-bottom table th,
.table-bottom table td {
  border: 1px solid #8db423;
  padding: 10px;
}

.table-bottom table th {
  background-color: #e6ffe9;
}

.note-table {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body-note {
  padding: 20px;
}

.balloon-o {
  display: inline-block;
  padding: 10px;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  border: solid 3px #ff8000;
  border-radius: 10px;
  position: relative;
}

.balloon-o:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 13px solid transparent;
  border-left: 13px solid #fff;
  z-index: 2;
}

.balloon-o:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 15px solid transparent;
  border-left: 15px solid #ff8000;
  z-index: 1;
}

.balloon-o .balloon-img {
  display: inline-block;
  margin: 0 10px;
}

.balloon-01 {
  display: inline-block;
  margin: 30px 0;
  padding: 7px 10px;
  color: #ff6600;
  font-size: 16px;
  font-weight: 700;
  background: #f1eebc;
  border: solid 3px #ffa071;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}

.balloon-01:before {
  content: "";
  position: absolute;
  bottom: -39px;
  left: 30%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 28px solid #f1eebc;
  z-index: 2;
}

.balloon-01:after {
  content: "";
  position: absolute;
  bottom: -47px;
  left: 30%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 30px solid #ffa071;
  z-index: 1;
}

.balloon-02 {
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #000000;
  font-weight: 700;
  border: solid 3px #8db423;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.balloon-02:before {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 54%;
  margin-left: -15px;
  border: 9px solid transparent;
  border-top: 17px solid #f4f4f4;
  z-index: 2;
}

.balloon-02:after {
  content: "";
  position: absolute;
  bottom: -31px;
  left: 54%;
  margin-left: -17px;
  border: 11px solid transparent;
  border-top: 18px solid #8db423;
  z-index: 1;
}

.balloon-02.right {
  font-weight: unset;
  font-size: 16px;
}

.balloon-02.right:before {
  content: "";
  position: absolute;
  top: 55% !important;
  right: -25px !important;
  margin-top: -13px !important;
  border: 13px solid transparent !important;
  border-left: 13px solid #f4f4f4 !important;
  z-index: 2;
  bottom: unset;
  left: unset;
  margin-left: unset;
}

.balloon-02.right:after {
  content: "";
  position: absolute;
  top: 55% !important;
  right: -30px !important;
  margin-top: -14px !important;
  border: 14px solid transparent !important;
  border-left: 14px solid #8db423 !important;
  z-index: 1;
  bottom: unset;
  left: unset;
  margin-left: unset;
}

.to-top {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.to-top .tab {
  height: 30px;
  width: 130px;
  font-size: 14px;
  border: solid 1px #000000;
  text-align: center;
  line-height: 30px;
  background-color: #fcfd86;
}

footer {
  padding: 50px;
}

.button-show-hide .btn-square {
  display: block;
  padding: 15px;
  text-decoration: none;
  background: #e3fccb;
}

.button-show-hide .btn-square::after {
  content: "-";
  float: right;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 30px;
  line-height: 20px;
}

.button-show-hide .btn-square.active::after {
  content: "+";
}

.flow-td-f img {
  width: 810px;
}

.flow-td-e {
  width: 40px;
}

#backtotop {
  overflow: hidden;
  position: fixed;
  z-index: 90;
  right: 30px;
  bottom: 20px;
  display: none;
  width: 47px;
  height: 47px;
  line-height: 30px;
  color: #eee;
  text-align: center;
  background-color: #6b9d44;
  font-size: 20px;
  text-indent: 0;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 50%;
}

.button-o {
  /* display: inline-block; */
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  /* font: 14px/100% Arial, Helvetica, sans-serif; */
  /* padding: .5em 2em .55em; */
  padding: 5px 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.button-c {
  /* display: inline-block; */
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  /* font: 14px/100% Arial, Helvetica, sans-serif; */
  padding: 5px 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* white */
.white {
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, right top, left bottom, from(#fff), to(#ededed));
  background: linear-gradient(to bottom left, #fff, #ededed);
  background: -moz-linear-gradient(top, #fff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.white:hover {
  background: #ededed;
  background: -webkit-gradient(linear, right top, left bottom, from(#fff), to(#dcdcdc));
  background: linear-gradient(to bottom left, #fff, #dcdcdc);
  background: -moz-linear-gradient(top, #fff, #dcdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.white:active {
  color: #999;
  background: -webkit-gradient(linear, right top, left bottom, from(#ededed), to(#fff));
  background: linear-gradient(to bottom left, #ededed, #fff);
  background: -moz-linear-gradient(top, #ededed, #fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* end white */
/* orange-yel */
.orange-yel {
  color: #fef4e9;
  border: solid 1px #e6b130;
  background: #ebd580;
  background: -webkit-gradient(linear, right top, left bottom, from(#ebd580), to(#e5b11c));
  background: linear-gradient(to bottom left, #ebd580, #e5b11c);
  background: -moz-linear-gradient(top, #ebd580, #e5b11c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebd580', endColorstr='#e5b11c');
}

.orange-yel a {
  color: #fff;
}

.orange-yel:hover {
  background: #e5b11c;
  background: -webkit-gradient(linear, right top, left bottom, from(#ebd580), to(#d6a120));
  background: linear-gradient(to bottom left, #ebd580, #d6a120);
  background: -moz-linear-gradient(top, #ebd580, #d6a120);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebd580', endColorstr='#d6a120');
}

.orange-yel:active {
  color: #fef4e9;
  background: -webkit-gradient(linear, right top, left bottom, from(#e5b11c), to(#ebd580));
  background: linear-gradient(to bottom left, #e5b11c, #ebd580);
  background: -moz-linear-gradient(top, #e5b11c, #ebd580);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5b11c', endColorstr='#ebd580');
}

.orange-yel a {
  color: #fff;
}

/* end orange */
/* rosy */
.rosy {
  color: #fae7e9;
  border: solid 1px #e99698;
  background: #e9a7a9;
  background: -webkit-gradient(linear, right top, left bottom, from(#e9a7a9), to(#e58083));
  background: linear-gradient(to bottom left, #e9a7a9, #e58083);
  background: -moz-linear-gradient(top, #e9a7a9, #e58083);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9a7a9', endColorstr='#e58083');
}

.rosy a {
  color: #fff;
}

.rosy:hover {
  background: #e9a7a9;
  background: -webkit-gradient(linear, right top, left bottom, from(#e9a7a9), to(#bd7375));
  background: linear-gradient(to bottom left, #e9a7a9, #bd7375);
  background: -moz-linear-gradient(top, #e9a7a9, #bd7375);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9a7a9', endColorstr='#bd7375');
}

.rosy:active {
  color: #fae7e9;
  background: -webkit-gradient(linear, right top, left bottom, from(#e58083), to(#e9a7a9));
  background: linear-gradient(to bottom left, #e58083, #e9a7a9);
  background: -moz-linear-gradient(top, #e58083, #e9a7a9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e58083', endColorstr='#e9a7a9');
}

/* blue sky */
.blue-sky {
  color: #fef4e9;
  border: solid 1px #7dbdd9;
  background: #99c9df;
  background: -webkit-gradient(linear, right top, left bottom, from(#99c9df), to(#64b2d5));
  background: linear-gradient(to bottom left, #99c9df, #64b2d5);
  background: -moz-linear-gradient(top, #99c9df, #64b2d5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c9df', endColorstr='#64b2d5');
}

.blue-sky a {
  color: #fff;
}

.blue-sky:hover {
  background: #99c9df;
  background: -webkit-gradient(linear, right top, left bottom, from(#99c9df), to(#539cbb));
  background: linear-gradient(to bottom left, #99c9df, #539cbb);
  background: -moz-linear-gradient(top, #99c9df, #539cbb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c9df', endColorstr='#539cbb');
}

.blue-sky:active {
  color: #fef4e9;
  background: -webkit-gradient(linear, right top, left bottom, from(#64b2d5), to(#99c9df));
  background: linear-gradient(to bottom left, #64b2d5, #99c9df);
  background: -moz-linear-gradient(top, #64b2d5, #99c9df);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64b2d5', endColorstr='#99c9df');
}

.blue-sky a {
  color: #fff;
}

/*blue sky */
/* green */
.green {
  color: #e8f0de;
  border: solid 1px #76c557;
  background: #76c557;
  background: -webkit-gradient(linear, right top, left bottom, from(#76c557), to(#6b9d44));
  background: linear-gradient(to bottom left, #76c557, #6b9d44);
  background: -moz-linear-gradient(top, #76c557, #6b9d44);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76c557', endColorstr='#6b9d44');
}

.green a {
  color: #fff;
}

.green:hover {
  background: #6b9d44;
  background: -webkit-gradient(linear, right top, left bottom, from(#6b9d44), to(#76c557));
  background: linear-gradient(to bottom left, #6b9d44, #76c557);
  background: -moz-linear-gradient(top, #6b9d44, #76c557);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d44', endColorstr='#76c557');
}

/* green end  */
.note-link {
  position: relative;
}

.note-link .outner-balloon-02 {
  position: absolute;
  bottom: 10px;
}

.wrap-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 20px;
  background-color: #e2e1dd;
  color: #fff;
  margin: 20px 0;
}

.apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.apply .apply-note {
  text-align: center;
}

.apply .apply-button {
  margin-top: 10px;
}

.img-note {
  width: 90%;
  padding-bottom: 10px;
}

.no-breadcrumb {
  background-color: #acde7a;
  padding: 1px;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

.soudan1 {
  display: inline-block;
  border: solid 1px #555;
  border-bottom: solid 2px #627295;
  font-size: 16px;
  background-color: #d8d8d8;
  padding: 5px 10px;
}

.soudan-font {
  text-decoration: underline;
}

.qs-1 {
  background-color: #e6ffe9;
  border: solid 1px #8db423;
  position: relative;
  padding: 10px;
}

.qs-1 .question {
  padding: 10px;
}

.qs-1 .radio-q {
  line-height: 1.6em;
  border: 1px #ccc solid;
}

.qs-1 .radio-q .radio-in {
  background-color: #fff6d0;
  padding: 10px;
  width: 90%;
}

.qs-1 .radio-q .radio-in label {
  padding: 0 10px;
}

.qs-1 .radio-q .hosoku {
  background-color: #ffdfcc;
  font-size: 16px;
  /* border: solid 1px #8DB423; */
  text-align: center;
  width: 10%;
  padding: 10px;
}

.result {
  border: solid 1px #ccc;
  margin-top: 50px;
}

.result .kekka {
  background-color: #acde7a;
  font-size: 16px;
  border-bottom: solid 1px #ccc;
  padding: 10px;
}

.result .kekka-text {
  background-color: #ffffff;
  height: 300px;
}

.b-lable-1 {
  padding: 45px 0;
  background-color: #e3fccb;
  color: #659931;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 10px;
  position: relative;
}

/* ----  banner top ---- */
.banner-top {
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0 -2px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0 -2px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-top .b-wrap {
  width: 50%;
}

.banner-top .b-wrap .b-text-2 {
  /* text-decoration: underline; */
  padding: 5px;
}

.banner-top .b-wrap .b-btn-2 {
  display: inline-block;
}

.banner-top .b-wrap .b-img-1 {
  display: inline-block;
}

.banner-top .b-wrap .b-balloon-1 {
  padding: 10px;
  font-size: 16px;
  background: #fff;
  border: solid 3px #ebd580;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.banner-top .b-wrap .b-balloon-1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -27px;
  margin-top: -10px;
  border: 12px solid transparent;
  border-right: 20px solid #fff;
  z-index: 2;
}

.banner-top .b-wrap .b-balloon-1:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -32px;
  margin-top: -10px;
  border: 12px solid transparent;
  border-right: 20px solid #ebd580;
  z-index: 1;
}

.banner-top .b-wrap .b-balloon-1 .b-text {
  display: inline-block;
  width: 66%;
}

.banner-top .b-wrap .b-balloon-1 .b-btn-1 {
  display: inline-block;
  font-size: 16px;
  padding: 15px 20px;
}

.banner-top .b-wrap-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ---- end  banner top ---- */
/* ---- banner mid ----  */
.banner-mid {
  border: 1px solid #ccc;
  margin: 50px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0 -2px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0 -2px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.banner-mid .bm-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-mid .bm-wrap .bm-wrap-1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-mid .bm-wrap .bm-wrap-1 .bm-btn {
  text-align: center;
  background-color: #fcfd86;
  display: inline-block;
  padding: 15px 20px;
  font-weight: 700;
  margin-bottom: 17px;
}

.banner-mid .bm-wrap .bm-wrap-1 .bm-balloon-2 {
  display: inline-block;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  background: #fff;
  border: solid 3px #8db423;
  border-radius: 10px;
  position: relative;
}

.banner-mid .bm-wrap .bm-wrap-1 .bm-balloon-2:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #fff;
  z-index: 2;
}

.banner-mid .bm-wrap .bm-wrap-1 .bm-balloon-2:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #8db423;
  z-index: 1;
}

.banner-mid .bm-wrap .bm-wrap-2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-mid .bm-wrap .bm-wrap-2 .bm-balloon {
  display: inline-block;
  padding: 10px;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  border: solid 3px #99c9df;
  border-radius: 10px;
  width: 70%;
  position: relative;
}

.banner-mid .bm-wrap .bm-wrap-2 .bm-balloon:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #fff;
  z-index: 2;
}

.banner-mid .bm-wrap .bm-wrap-2 .bm-balloon:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #99c9df;
  z-index: 1;
}

.banner-mid .bm-wrap .bm-wrap-2 .bm-img {
  display: inline-block;
  margin: 0 10px;
}

.highlight {
  background-color: #e3fccb;
  font-weight: 700;
  color: #5c8357;
  display: block;
  padding: 10px;
  margin: 20px 0;
}

.content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-top .item-top {
  width: 303px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-top: 5px solid #3f8620;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0 -2px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0 -2px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  margin: 0 6px;
  margin-bottom: 15px;
}

.content-top .item-top .title {
  font-size: 16px;
  font-weight: bold;
  color: #2e79ca;
  letter-spacing: 1px;
  border-bottom: 1px solid #bababa;
  padding: 15px 20px;
}

.content-top .item-top .item-content {
  padding: 15px 20px;
  overflow: hidden;
}

.content-top .item-top .item-content .snippet {
  padding: 0px 0px 20px 0px;
}

.content-top .item-top .item-content .snippet ul {
  padding-left: 20px;
}

.content-top .item-top .item-content .snippet ul li {
  list-style: disc;
}

.content-top .item-top .item-content .more-button {
  border: 1px solid #63cc49;
  background-color: #63cc49;
  border-radius: 8px;
  text-decoration: none;
  overflow: hidden;
  float: right;
}

.content-top .item-top .item-content .more-button a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

.tick-text {
  color: red;
  font-weight: 700;
  text-align: center;
}

.tick-text span {
  display: inline-block;
  text-decoration: underline;
  padding: 0 10px;
}

.note-stick > * {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.radius {
  position: relative;
  border: 0px solid #81bef7;
  color: #fff;
  top: 50px;
  left: 30px;
  border-radius: 10px;
  background-color: #81bef7;
  z-index: 99;
  font-size: 28px;
  display: inline-block;
  padding: 10px 15px;
}

.formBalloon {
  height: 60px;
  position: relative;
  left: 80px;
}

.formBalloon .formBalloonContent {
  border-radius: 3px 3px 0px 0px;
  width: 20px;
  height: 30px;
  position: relative;
  background: #facc2e;
  left: 20px;
}

.formBalloon .formBalloonArrow {
  border: 30px solid transparent;
  border-top: 30px solid #facc2e;
  position: absolute;
  height: 0;
  width: 0;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */